.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.sidebar {
  background-color: #55cbcd;
  opacity: 50%;
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
}
.green {
  background-color: #b7cfb7;
  height: 145px;
  width: 100%;
}
.pink {
  background-color: #f3b0c2;
  height: 145px;
  width: 100%;
}
.tan {
  background-color: #e6bc87;
  height: 145px;
  width: 100%;
}
